@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');



body {
    background: url('../images/fridgebackground.png');
    background-position: top;
    background-size:cover;
    font-family: "Josefin Slab";
}




/*add button on body*/
.btn-content{
    margin-top: 30%;
}

#add-btn {
    padding: 0;
    width: 200px;
    height: 200px;
    background-color: white;
    display: block;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
}

#add-btn p{
    padding-top: 10px;
}

.center {
    margin-top:50px;
    margin-left: 87%;
    margin-top: 1%;

    border-radius: 25px;
}



/*modal css*/
#squarespaceModal{
    margin-top:5%;
}
.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}




/*food item csse*/

.grid-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 10px;
    grid-auto-rows: auto;
    width: auto;
    margin: 50px 40px 40px 40px !important;

}
.grid-item {
    padding: 10px;
    font-size: 19px;
    text-align: center;
}

.container1 {
    position: relative;
    text-align: center;
    color: black;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    margin: auto;
    display:inline-block;
}

.overlay {
    display:none;
}

.container1:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*badge notification*/
.top-right {
    position: absolute;
    top: 8px;
    right: 8px;
}

.top-centre {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}


/*delete button*/
.centered {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}

