@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');



body {
    background: url('../images/fridgebackground.png');
    background-position: top;
    background-size:cover;
    font-family: "Josefin Slab";
}




/*add button on body*/
.add{
    width: 100px;
    height: 100px;
    margin-left: 90%;
    margin-top: 5%;

    border-radius: 25px;

}
.center {
    margin-top:50px;
    margin-left: 87%;
    margin-top: 1%;

    border-radius: 25px;
}



/*modal css*/
#squarespaceModal{
    margin-top:5%;
}
.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}




/*food item csse*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 25px;
    font-size: 19px;
    text-align: center;
}
.container1 {
    position: relative;
    text-align: center;
    color: black;
    border-radius: 50px;
    width: 200px;
    height: 200px;
}




/*badge notification*/
.top-right {
    position: absolute;
    top: 8px;
    right: 8px;
}

.top-centre {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}


/*delete button*/
.centered {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}

