@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');



body {
    background: url('../images/fridgebackground.png');
    background-position: top;
    background-size:cover;
}




/*add button on body*/
.btn-content{
    margin-top: 35%;
}

#add-btn {
    padding: 0;
    width: 210px;
    height: 240px;
    background-color: white;
    display: block;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
}

#add-btn p{
    padding-top: 10px;
}

.center {
    margin-top:50px;
    margin-left: 87%;
    margin-top: 1%;

    border-radius: 25px;
}



/*modal css*/
#squarespaceModal{
    margin-top:5%;
}
.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}




/*food item csse*/

.grid-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 35px;
    grid-auto-rows: auto;
    width: auto;
    margin: 100px 5% 40px 5% !important;

}

.grid-item {
    font-size: 16px;
    text-align: center;
}



.container1 {

    position: relative;
    text-align: center;
    color: black;
    border-radius: 25px;
    width: auto;
    height: auto;
    margin: auto;
    display:inline-block;
    border: #cacaca solid 1px;
    padding: 9px 5px 5px 5px;
    background-color: white;
}

.container1 img{
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    border-radius: 25px;
}

.container1 p{
    width: auto;
    margin: 0 0 5px 0;
}


.overlay {
    display:none;
}

.container1:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(96, 96, 96, 0.87);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 25px;
}


/*badge notification*/
.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(10px) translateY(-10px);
}

.top-centre {
    /*position: absolute;*/
    top: 0px;
    left: 50%;
    background-color: white;
    display: block;
    /*transform: translate(-50%);*/
}


/*delete button*/
.centered {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);

}

.delete-btn{
    color: #d7d7d7;
}
.delete-btn:hover{
    color: #242424;
    background-color: transparent;
    border-radius: 25px;

}


