

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');



body {
    background: url('../images/fridgebackground.png');
    background-position: top;
    background-size:cover;
    font-family: "Josefin Slab";
}

.add{
    width: 100px;
    height: 100px;
    margin-left: 90%;
    margin-top: 5%;

    border-radius: 25px;

}


.center {
    margin-top:50px;
    margin-left: 87%;
    margin-top: 1%;

    border-radius: 25px;
}


#squarespaceModal{
    margin-top:5%;
}
.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}


