{
    box-sizing: border-box;
}

.external-link{

}


.long-dropdown input{
    width: 30px;
    height: 20px;
}
.long-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    min-height: 50px;
    height: auto;
    line-height: 50px;
    text-align: center;
    left: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:focus {
    color: black;
}

.long-dropdown .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.show {
    display: inline-block;
}

li, .long-dropdown .dropdown-content li {
    display: inline-block;
}

.filter-clicked {
    background-color: #ecd0bd;
}

button {
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

button:hover {
    background-color: #a5baa5;
    cursor: pointer;
}

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

button:focus {
    outline:0;
}

.bottom-popup{
    background: #dddbda;
    z-index: 30;
    opacity: 0.9;
    position:fixed;
    text-align: center;
    bottom:0.5%;
    width:25%;
    height:50px;
    display:none;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.bottom-popup p{
    line-height: 50px;
}

/*******************************************Results************************************************/
.recipe-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 30px;
    grid-auto-rows: auto;
    margin: 30px;

}

.recipe{
    background-color: white;
    border: 1px solid gray;
    min-width: 300px;
    max-width: 400px;
    height: auto;
    margin: auto;
}

.recipe p{
    margin: 1% auto  1% 4%;
    display: block;

}

.recipe-titlebar{
    margin-bottom: 5px;
    height: auto;

}

.recipe-block-btns{
    text-align: right;
    display: block;

}

.recipe button, .modal button{
    display: inline-block;
    border: 1px solid gray;
    padding: 9px 20px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    font-size: 14px;


}

/*.recipe button:hover, .modal button:hover{
    background-color: #769c7b;
    color: white;
}*/

.recipe .saved, .modal .saved{
    background-color: #c6c6c6;
    color: white;
}

.recipe img {
    height: 280px;
    width: 100%;
    object-fit: cover;
    align-content: center;
}

.recipe ul.ingredient-list{
    margin: 8px 5% 10px 5%;
    padding:0;
}

.recipe-block-title{
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

/*************************************************** Modal Box ***************************************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 5px 10px 20px 10px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    text-align: center;
}

ul.ingredient-list li:after {
    content: ", ";
    white-space: pre;
}

ul.ingredient-list li:last-child:after {
    content: "";
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* ------------------Drop Down Bars ----------------------------------------------*/
/*------results header--------*/

#results-search-header {
    text-align: center;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    margin-top: 50px;
    padding-top: 5px;
    width: 100%;
    height: auto;
    z-index: 4;
    border-bottom: 1px solid #cacaca;
}

#resultsform input[type=text], #searchform input[type=text] {
    padding: 10px 0 10px 10px;
    border: none;
    border-bottom: 1px solid black ;
    margin: 8px 16px 0 4px;
    font-size: 15px;
    background-color: #e9e9e9;
}

#resultsform label{
    display: inline-block;
    margin-bottom: 10px;
}

.btn-menu ul{
    text-align: center;
    margin: 0;
    position: relative;
}


.searchbtn{
    display: inline;
    position: relative;
    border: 1px solid gray;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 12px;
    background-color: transparent;
}




