@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body {
    background: url('../images/homebackground.jpg');
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fredericka the Great';
}

h1 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size:8em
}



/*icons css*/
.recipe {
    margin-left: 34%;
    margin-top: 5%;

    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.fridge {
    margin-left: 5%;
    margin-top: 5%;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

