{
    box-sizing: border-box;
}

/** bottom pop up **********************************************************************/
.bottom-popup{
    background: #dddbda;
    z-index: 100;
    opacity: 0.9;
    position:fixed;
    text-align: center;
    bottom:0.5%;
    width:25%;
    height:50px;
    display:none;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.bottom-popup p{
    line-height: 50px;
}

/*******************************************Results************************************************/
.recipe-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 20px;
    grid-auto-rows: auto;
    margin: 150px 30px 30px 30px;
}


.recipe{
    background-color: white;
    min-width: 250px;
    max-width: 250px;
    height: 350px;
    margin: auto;
    padding: 0;
    /*
    box-shadow: 0px 2px 8px 1px #b0b0b0;
    */
    display: inline-block;
    position: relative;
    border: 1px solid lightgrey;
}

.recipe p{
    margin: 1% 4%  1% 4%;
    display: block;

}

.recipe-titlebar{
    margin-bottom: 5px;
    height: auto;

}

.recipe-block-btns{
    text-align: right;
    display: block;
    position:absolute;
    bottom:8px;
    right:0;
}

.recipe button, .modal button{
    display: inline-block;
    border: 1px solid gray;
    padding: 7px 20px;
    margin-top:5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;


}

/*.recipe button:hover, .modal button:hover{
    background-color: #769c7b;
    color: white;
}*/

.recipe .saved, .modal .saved{
    background-color: #c6c6c6;
    color: white;
}

.recipe img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    align-content: center;
}


.recipe-block-title{
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

/*************************************************** Modal Box ***************************************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 5px 15px 20px 15px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    text-align: center;
}



.modal-content > ul.ingredient-list{
    margin: 8px 10% 10px 10%;
    padding:0;
    text-align: left;
}

.ingredient-list > li{
    display:list-item;
}


/*!* The Close Button *!
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}*/



/*------results header--------*/

#results-search-header {
    text-align: center;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    margin-top: 50px;
    padding-top: 5px;
    width: 100%;
    height: auto;
    z-index: 4;
    border-bottom: 1px solid #cacaca;
}

#resultsform input[type=text], #searchform input[type=text] {
    padding: 10px 0 10px 10px;
    border: none;
    border-bottom: 1px solid black ;
    margin: 8px 16px 0 4px;
    font-size: 15px;
    background-color: #e9e9e9;
}

#resultsform label{
    display: inline-block;
    margin-bottom: 0px;
}

#resultsform{
    margin-bottom: 5px;
}

.btn-menu ul{
    text-align: center;
    margin: 0;
    width: 100%;
    display:inline-block;
    padding:0;
}




.searchbtn{
    display: inline;
    position: relative;
    border: 1px solid gray;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 12px;
    background-color: transparent;
}




