@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

*{
    box-sizing: border-box;
}

body{
    background: url('../images/brooke-lark-182428-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    /*background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

}

#expiring-container{
    background-color: white;
    margin-top: 50px;
    border-radius: 25px;
    padding: 5px;

}
/*Search Bar*/
#results-search-header {

    text-align: center;
    background-color: #ffffff;
    padding-top: 10px;
    border-radius: 25px;

    z-index: 4;
    /*
    border-bottom: 1px solid #cacaca;
    */
}


#resultsform input[type=text], #searchform input[type=text] {
    padding: 10px 0 10px 10px;
    border: none;
    border-bottom: 1px solid #cad6ce;
    margin: 8px 16px 0 4px;
    font-size: 15px;
    background-color: #E8E8E8;
    min-width: 150px;
    width: 20%;
}

#resultsform input[type=text]:focus{
    outline: none;
    /*background-color: #DAE1D6;*/
    border-bottom: 1px solid black;
}

#resultsform label{
    display: inline-block;
    margin-bottom: 0;
}

#resultsform{
    margin: 0 5px 5px 5px;
}

.btn-menu{
    padding-top: 5px;
}

.btn-menu ul{
    text-align: center;
    margin: 0;
    width: 100%;
    display:inline-block;
    padding: 0;
    font-size: 15px;
}

.searchbtn{
    display: inline;
    position: relative;
    margin-top: 5px;
    /*border: 1px solid gray;*/
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #DBE2D7;
    color: black;
}

.searchbtn:hover{
    background-color: #c1cabd;
}

#header{
    height: 250px;
    line-height:70px;
    background-position: center;
    text-align: center;
    background-repeat:no-repeat;
    position: relative;


}

#header span{
    font-weight: bolder;
    vertical-align: center;
    line-height: normal;
    font-size: 30px;
    color: whitesmoke;
    text-shadow:2px 2px 3px #676767;
}


.large-grid-container {
    /*display: grid;
    grid-template-columns: 100%;
    grid-gap: 50px;
    grid-template-rows: 40px auto;
    */

    /*background-color: white;*/
    /*transform: translateY(-150px);*/
    position: absolute;
    top: 120px;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}



.grid-container {
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 30px;
    grid-auto-rows: auto;
    margin: 30px 5% 40px 5% !important;

}

.grid-item {
    font-size: 16px;
    text-align: center;
    min-width: 270px;
}

.container1 {
    position: relative;
    text-align: center;
    color: black;
    border-radius: 25px;
    width: auto;
    height: auto;
    margin: auto;
    display:inline-block;
    border: #cacaca solid 1px;
    padding: 9px 5px 5px 5px;
}

.container1 p{
    width: auto;
    margin: 0 0 5px 0;
}
.container1 img{
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    border-radius: 25px;
}

.overlay {
    display:none;
}

/*badge notification*/
.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(10px) translateY(-10px);
}

.top-centre {
    /*position: absolute;*/
    top: 0px;
    left: 50%;
    background-color: white;
    display: block;
    /*transform: translate(-50%);*/
}


/*delete button*/
.centered{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}