/*This stylesheet is for all of the fonts and common elements*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');


/*NAV BAR*/
nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }

nav.navbar-findcond ul.navbar-nav a {border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #ffffff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444 !important; }
nav.navbar-findcond li.divider { background: #ccc; }


#active{
    background-color: #ece2db;
    border-color: #ece2db;
}

.icon-bar {
    width: 35px;
    height: 3px;
    background-color: #617133;
    margin: 3px 0;
}

.navbar-toggle:hover{
    background-color: transparent;
}


*{
    box-sizing: border-box;
}

#navbar-brand{
    font-family: 'Fredericka the Great', cursive;
    font-weight:normal
}

nav.navbar-findcond a { color: #617133; font-family: 'Quicksand', sans-serif; font-weight: normal}



.page-heading{
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size:8em;
    text-align: center;
    padding-top: 30px
}

body, .body-text{
 font-family: 'Quicksand', sans-serif;
}

#header{
    font-family: 'Raleway';
}

.subheading{
    margin-top: 5px;
    margin-bottom: 10px;
}

.link{
    color: #6f6f6f;
    text-decoration: underline;
}

.link:hover{
    color: #292929

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ------------------Drop Down Bars ----------------------------------------------*/

.long-dropdown input{
    width: 30px;
    height: 20px;
}
.long-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    min-height: 50px;
    height: auto;
    line-height: 50px;
    text-align: center;
    left: 0;
}

.dropbtn:hover{
    background-color: white;
}

.dropdown-content label {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:focus {
    color: black;
}

.long-dropdown .dropdown-content .hover-label:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.show {
    display: inline-block;
}

.btn-menu li, .long-dropdown .dropdown-content li {
    display: inline-block;
}

.label-text{
    display: block;
    padding: 0 16px;
}

.btncheck:checked + .label-text{
    background-color: #EBE1DA;
}

.btncheck {
    display: none;
}

button {
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

button i{
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

button:focus {
    outline:0;
}

/* Badge Colours for food items*/
.red{
    background-color : #d65856 !important;
}

.yellow{
    background-color : #ffdf43 !important;
    color: black !important;
}

.green{
    background-color : #496e4c !important;
}



