@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

@media only screen and (max-width: 768px){
    body {
        padding: 2%;
        background: #F5F5F5;

    }
    .heading {
        margin: auto;
    }

    .grid-container{
        margin-bottom: 50px;
    }

    .content{
        margin: 50px 4% 0 6px;
    }
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 768px){
    body {
        background: url('../images/welcomepagebackground-compressed.jpg') no-repeat center center fixed;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        padding-left: 40%;
        font-family: "Josefin Slab";

    }

    .grid-container{
        margin-bottom: 100px;
    }

    .content {
        margin: 80px 4% 0 6px;
    }

}



h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 2fr) );
    grid-gap: 20px;
    grid-auto-rows: auto;


}

.move-right{
    padding-left: 20px;
}

.grid-image{
    padding-top: 10%;
    bottom: 0;

}


.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%; /* The height of the item will now be 56% of the width. */
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    min-width: 300px;
    min-height: 168px;
}

form{
    text-align: center;
}

.btn:focus{
    outline: none !important;
}

.btn{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px !important;
}

.btn-container{
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.heading{
    text-align: center;
    display: block;
    max-width: 400px;
}
.heading-text{
    font-size: 7em;
}