@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

/*nav bar css*/
nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
/*
nav.navbar-findcond a { color: #617133; font-family: 'Fredericka the Great', cursive; }
*/
nav.navbar-findcond ul.navbar-nav a {border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444 !important; }
nav.navbar-findcond li.divider { background: #ccc; }

#active{
    background-color: #ece2db;
    border-color: #ece2db;
}

.icon-bar {
    width: 35px;
    height: 3px;
    background-color: #617133;
    margin: 3px 0;
}

.navbar-toggle:hover{
    background-color: transparent;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}
body {
    background: url('../images/welcomepagebackground.jpg') no-repeat center center fixed;
    background-position: center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    padding-left: 40%;
    font-family: "Josefin Slab";

}


h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 2fr) );
    grid-gap: 20px;
    grid-auto-rows: auto;

    margin-bottom: 100px;
}

.move-right{
    padding-left: 20px;
}
.content{
    margin: 80px 4% 0 6px;
}
.grid-image{
    padding-top: 10%;
    bottom: 0;

}


.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%; /* The height of the item will now be 56% of the width. */
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    min-width: 300px;
    min-height: 168px;
}

.btn:focus{
    outline: none !important;
}

.btn{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px !important;
}

.btn-container{
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.heading{
    text-align: center;
    display: block;
    margin-left: 10%;
    max-width: 400px;
    width: 80%;
}
.heading-text{
    width: 400px;
}